/* Site-wide styling here */
@font-face {
    /*https://www.fontspace.com/jdgraphics*/
    font-family: 'Minecraft';
    src: url('../Fonts/MinecraftRegular-Bmg3.otf');
}

@font-face {
    /*https://www.fontspace.com/jdgraphics*/
    font-family: 'Minecraft';
    font-weight: bold;
    src: url('../Fonts/MinecraftBold-nMK1.otf');
}

body {
    padding: 0;
    margin: 0;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-image: url(../images/backgrounds/creeper-g7bf30bcb7_1920_GREEN.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}


.basicBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(27, 87, 27);
    color: white;
    padding: 20px;
    width: 30%;
    border: solid 5px black;
    box-shadow: 5px 5px 10px black;
}

.button {
    margin: 5px;
    text-align: center;
    background-color: rgb(57, 145, 57);
    border-radius: 20px;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 15px 25px 15px 25px;
    color: white;
    border: none;
    cursor: pointer;
}

#clockbox {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: fixed;
    text-align: right;
    bottom: 0px;
    width: 100%;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        5px 5px 10px black;
}

#weekday {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 0;
    width: fit-content;
    font-size: 20px;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    text-align: right;
}

#clock {
    margin-right: 20px;
    margin-bottom: 0;
}

#date {
    margin-right: 20px;
    margin-bottom: 10px;
}

#Title {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 100px;
    text-shadow:
        -5px -5px 0 #000,
        5px -5px 0 #000,
        -5px 5px 0 #000,
        5px 5px 0 #000,
        5px 5px 10px black;
    ;
    margin: 2% 0 0 0;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.invisible input {
    display: none;
}

.invisible {
    visibility: 0;
}

.countdown {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: fixed;
    text-align: right;
    top: 0;
    right: 0;
    width: 100%;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        5px 5px 10px black;
}

#money {
    display: grid;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 105px;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        5px 5px 10px black;
}

#moneyNumber {
    display: block;
    text-align: center;
    margin-top: 45px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

#emeraldImage {
    display: none;
    margin-left: 10px;
    margin-top: 20px;
    width: 85px;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

.timer {
    margin-right: 20px;
}

#timeEnds {
    margin-right: 20px;
    margin-top: 10px;
}

#hamburger {
    display: inline;
}

.slider {
    appearance: none;
    opacity: .7;
    height: 15px;
    width: 500px;
    transition: opacity .1s;
    background: #d3d3d3;
    outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 25px;
    background: rgb(57, 145, 57);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    background: rgb(57, 145, 57);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;

}