/* Site-wide styling here */
@font-face {
    font-family: Minecraft;
    src: url('../Fonts/MinecraftRegular-Bmg3.otf');
}

@font-face {
    font-family: Minecraft;
    font-weight: bold;
    src: url('../Fonts/MinecraftBold-nMK1.otf');
}


body {
    padding: 0;
    margin: 0;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-image: url(../images/creeper-g7bf30bcb7_1920.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.button {
    background-color: gray;
    display: block;
    text-align: center;
    padding: 5px;
}

.basicBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    text-align: center;
    background-color: rgb(27, 87, 27);
    color: white;
    padding: 20px;
    width: 30%;
    border: solid 5px black;
    border-radius: 20px;
}

.basicBox #username {
    font-weight: bold;
    font-size: 30px;
    color: crimson;

}

#name-check {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

#name-check input {
    padding: 10px;
    margin: 5px;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}

#name-check button {
    margin: 5px;
    text-align: center;
    background-color: rgb(31, 128, 31);
    border-radius: 20px;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 15px 25px 15px 25px;
    color: white;
}

#errorMsg {
    margin-top: -5px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
}