/* Site-wide styling here */
@font-face {
    font-family: Minecraft;
    src: url('../Fonts/MinecraftRegular-Bmg3.otf');
}

@font-face {
    font-family: Minecraft;
    font-weight: bold;
    src: url('../Fonts/MinecraftBold-nMK1.otf');
}


body {
    padding: 0;
    margin: 0;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-image: url(../images/creeper-g7bf30bcb7_1920.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.button {
    background-color: gray;
    display: block;
    text-align: center;
    padding: 5px;
}

.basicBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    background-color: rgb(172, 0, 66);
    color: white;
    padding: 20px;
    width: 30%;
}

.basicBox #username {
    font-weight: bold;
    font-size: 30px;
}

#name-check{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#name-check input{
    margin-left: auto;
    margin-right: auto;
}