body{
    
    background-image: url(../images/memory/memoryBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section{
    display: grid;
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: repeat(4,8rem);
    perspective: 800px;
}


.back{
    background-color: white;
    backface-visibility: hidden;
    height: 100px;
    width: 100px;
    pointer-events: none;
}
.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0,.97,.94,.04);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    
}

.face,
.back{
    position: absolute;
    cursor: pointer;
}


.toggleCard{
    transform: rotateY(180deg);
}

.cardStay{
    transform: rotateY(180deg);
}