#body{
    
    background-image: url(../images/memory/memoryBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Minecraft, Arial, Helvetica, sans-serif;

}

section{
    display: grid;
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: repeat(4,8rem);
    perspective: 800px;
}


.back{
    background-color: white;
    backface-visibility: hidden;
    height: 100px;
    width: 100px;
    cursor: pointer;
    
}
.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s cubic-bezier(0,.97,.94,.04);

    
}

.face,
.back{
    position: absolute;
    pointer-events: none;
}


.toggleCard{
    transform: rotateY(180deg);
}

.cardStay{
    transform: rotateY(180deg);
}

div{
    cursor: pointer;
}

/* Site-wide styling here */
@font-face {
    /*https://www.fontspace.com/jdgraphics*/
    font-family: 'Minecraft';
    src: url('../Fonts/MinecraftRegular-Bmg3.otf');
}

@font-face {
    /*https://www.fontspace.com/jdgraphics*/
    font-family: 'Minecraft';
    font-weight: bold;
    src: url('../Fonts/MinecraftBold-nMK1.otf');
}

p{
    font-size:20px;
    
}

.flipped,
.matched{
    pointer-events: none;
}

h1{
    font-size: 20px;
}