body{
    background-image: url(../images/rockPapperScissors/backgroundHouse.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
}
