body{
    background-image: url(../images/rockPapperScissors/backgroundHouse.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Minecraft, Arial, Helvetica, sans-serif;
}


.asset{
    height: 100px;
}

.playerChoices{
    display: grid;
    grid-template-columns: repeat(3,8rem);
    perspective: 800px;
}

.choiceComputer{
    border: 3px solid;
    height: 200px;
    width: 300px;

}
.choice{
    border: 3px solid;
    height: 200px;
    width: 300px;
}